@mixin hover__box-shadow {
  box-shadow: 0px 1px 6px #00000029;
  transition: all 0.2s ease;
  > p {
    border-bottom: 0px;
    background: linear-gradient(to right, #3679b5, #3679b5 50%, #333333 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  &:hover {
    box-shadow: 0px 0px 15px #3679b5;
    transition: all 0.2s ease;
    > p {
      transition: all 0.4s ease;
      background-position: 0 100%;
    }
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0px 0px 5px #3679b5;
  }
}

@media screen and (min-width: 768px) {
  .governance_top {
    margin-top: 127px;
    .governance_top_sub {
      text-align: center;
      color: #888888;
      font-size: 1.4375rem;
      font-family: 'Inter-Medium';
      font-style: italic;
    }
    .governance_top_header {
      text-align: center;
      font-family: 'SpoqaHanSansNeo-Bold';
      color: #333333;
      font-size: 2.8125rem;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .governance_top_content {
      background-image: url('../../assets/images/governance_top@2x.png');
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      background-size: cover;
      width: 100%;
      height: 558px;
    }
    .governance_top_content_header {
      font-family: 'SpoqaHanSansNeo-Medium', 'Montserrat-Medium';
      font-size: 1.24rem;
      color: #ffffff;
      // width: 48rem;
      height: 59px;
      padding-top: 94px;
      margin: auto;
      text-align: center;
      line-height: 2.1rem;
    }
    .governance_top_content_wrapper {
      font-family: 'SpoqaHanSansNeo-Medium', 'Montserrat-Medium';
      margin-top: 120px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        height: 260px;
        width: 260px;
        border: 1px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 260px;
        font-size: 1.25rem;
        line-height: 1.9rem;
      }
      > div:not(div:last-child) {
        margin-right: 98px;
      }
    }
  }

  .governance_center {
    margin-top: 100px;
    width: 100%;

    > div:first-child {
      font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
      text-align: center;
      font-size: 2.5rem;
      color: #333333;
    }
    .governance_center_content_wrapper {
      display: flex;
      width: 1136px;
      margin: auto;
      margin-top: 81px;
      // align-items: center;
      // justify-content: center;
    }
    .governance_center_content_description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 358px;
      margin-right: 116px;

      > div:first-child {
        font-family: 'Montserrat-bold';
        font-size: 1.25rem;
        color: #3679b5;
        margin-bottom: 10.5px;
      }

      > div:nth-child(2) {
        font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
        font-size: 1.875rem;
        width: 591px;
        color: #333333;
        margin-bottom: 34px;
      }

      > div:nth-child(3) {
        font-family: 'Montserrat';
        font-size: 1.0625rem;
        width: 570px;
        color: #333333;
        margin-bottom: 34px;
      }
    }
    .governance_center_content_wrapper_button {
      display: flex;
      > div {
        cursor: pointer;
        width: 188px;
        height: 45px;
        background-color: #3679b5;
        font-family: 'Montserrat-Medium';
        color: #ffffff;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 3px 8px #00000052;
        > a {
          font-size: 1.0625rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      > div:first-child {
        margin-right: 25px;
      }
    }
    .governance_center_info_header {
      font-family: 'SpoqaHanSansNeo-Bold';
      font-size: 1.25rem;
      color: #262626;
      margin: auto;
      margin-bottom: 15px;
      width: 1136px;
    }
    .governance_center_info_box {
      width: 1136px;
      height: 155px;
      background-color: #ffffff;
      border: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

      > div:not(div:last-child) {
        margin-right: 29px;
      }

      > div {
        border: 2px solid #f0f0f1;
        border-radius: 10px;
        width: 250px;
        height: 113px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .question {
          margin-left: 7px;
          border: 1px solid #888888;
          width: 17px;
          height: 17px;
          border-radius: 13px;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #888888;
          cursor: pointer;
          position: relative;
          > div {
            width: 200px;
            padding: 10px;
            font-size: 1.0625rem;
            cursor: auto;
            box-shadow: 0px 1px 6px #00000029;
            background-color: #ffffff;
            border-radius: 5px;
            position: absolute;
            top: 17px;
            left: 0px;
            color: #888888;
            font-family: 'SpoqaHanSansNeo-Medium', 'Montserrat-Medium';
          }
        }
        > div:first-child {
          font-family: 'Montserrat', 'SpoqaHanSansNeo';
          font-size: 1.0625rem;
          color: #333333;
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        > div:last-child {
          font-family: 'Montserrat-bold';
          font-size: 1.4375rem;
          color: #333333;
        }
      }
    }
  }

  .governance_staking {
    margin-top: 124px;
    width: 100%;

    .governance_staking_wrapper {
      display: flex;
      width: 1136px;
      margin: auto;
      margin-top: 81px;
    }

    .governance_staking_wrapper_content {
      margin-right: 81px;
    }

    .governance_staking_header {
      text-align: center;
      font-size: 2.5rem;
      color: #333333;
    }

    .governance_staking_content_wrapper {
      display: flex;
      width: 1136px;
      margin: auto;
      margin-top: 81px;
      // align-items: center;
      // justify-content: center;
    }

    .governance_staking_content_description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 358px;
      margin-right: 116px;
    }

    .governance_staking_content_description_first {
      font-family: 'Montserrat-bold';
      font-size: 1.25rem;
      color: #3679b5;
      margin-bottom: 10.5px;
    }

    .governance_staking_content_description_second {
      font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
      font-size: 1.875rem;
      color: #333333;
      margin: 0px 0px 34px 0px;
    }

    .governance_staking_content_description_third {
      font-family: 'Montserrat';
      width: 562px;
      font-size: 1.0625rem;
      color: #333333;
      line-height: 1.6rem;
      margin-bottom: 20px;
    }

    .governance_staking_content_button {
      font-family: 'Montserrat-Medium';
      cursor: pointer;
      width: 188px;
      height: 45px;
      font-size: 1.0625rem;
      color: #ffffff;
      background-color: #3679b5;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 3px 8px #00000052;
    }
    .governance_staking_info {
      position: relative;
      text-align: center;
      line-height: 1.8rem;
      z-index: 0;
    }
    .governance_staking_total {
      font-family: 'Inter-Bold';
      position: absolute;
      top: -40px;
      width: 284px;
      height: 284px;
      background-color: #ffffff;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #3679b5;
      border-radius: 284px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.875rem;
      color: #3679b5;
    }
    .governance_staking_apr {
      font-family: 'Inter-Bold';
      position: absolute;
      left: 214px;
      top: 110px;
      width: 222px;
      height: 222px;
      background-color: #ffffff;
      box-shadow: 0px 3px 6px #00000029;
      border: 1px solid #6e6e6e;
      border-radius: 222px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.875rem;
      color: #333333;
    }
    .governance_staking_total_name {
      font-family: 'Montserrat';
      font-size: 1.0625rem;
    }
    .staking_prev {
      font-family: 'SpoqaHanSansNeo';
      font-size: 1.0625rem;
      color: #3679b5;
      cursor: pointer;
    }

    .staking_wrapper {
      margin-top: 100px;
      width: 100%;
    }
    .staking_container {
      width: 1136px;
      margin: auto;
    }
    .staking_container_header {
      font-family: 'SpoqaHanSansNeo-Bold';
      font-size: 1.25rem;
      margin-bottom: 21px;
    }
    .staking_header {
      display: flex;
    }

    .staking_select_mainnet {
      font-family: 'Montserrat-Medium';
      display: flex;
      margin-right: auto;
      border-top: 2px solid #f0f0f1;
      border-left: 2px solid #f0f0f1;
      border-right: 2px solid #f0f0f1;
      width: 300px;
      background-color: #ffffff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 1.0625rem;

      div {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
      }
      div:first-child {
        border-right: 1px solid #f0f0f1;
      }
      div:last-child {
        color: #888888;
      }
    }
    .staking_content {
      border: 2px solid #f0f0f1;
      display: flex;
      background-color: #ffffff;
      border-radius: 0px 10px 10px 10px;
      padding: 8px 12px 8px 12px;

      .staking_content_box:nth-child(1) {
        border-right: 1px solid #f0f0f1;
      }

      .staking_content_box {
        width: 50%;
        padding: 14px;
        border-bottom: 1px solid #f0f0f1;
        border-top: 1px solid #f0f0f1;
      }
      .staking_content_box_amount {
        text-align: right;
        margin-top: 36px;

        span:first-child {
          font-family: 'SpoqaHanSansNeo-Bold';
          font-size: 1.875rem;
          color: #333333;
          span {
            color: #333333;
          }
        }
        span:last-child {
          font-family: 'SpoqaHanSansNeo-Bold';
          font-size: 1.875rem;
          color: #6e6e6e;
        }
      }
      .staking_content_header {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        //   border-bottom: 1px solid black;
        > div:first-child {
          font-family: 'SpoqaHanSansNeo-Bold';
          font-size: 1.0625rem;
        }
        > div:last-child {
          font-family: 'SpoqaHanSansNeo';
          cursor: pointer;
          box-shadow: 0px 1px 6px #00000029;
          border-radius: 15px;
          width: 202px;
          height: 37px;
          font-size: 1.0625rem;
          display: flex;
          align-items: center;
          justify-content: center;
          @include hover__box-shadow;
          > p {
            cursor: pointer;
          }
        }
      }

      .staking_comming_soon {
        font-family: 'SpoqaHanSansNeo-Bold';
        font-size: 1.875rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 153.5px;
      }
      .staking_network {
        font-family: 'SpoqaHanSansNeo-Bold';
        font-size: 1.5rem;
        width: 70%;
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 153.5px;
      }
    }
  }

  .governance_bottom {
    margin-top: 166px;
    margin-bottom: 222px;
    width: 100%;

    .governance_bottom_container {
      width: 1136px;
      margin: 0px auto;
    }
    .governance_bottom_first {
      font-family: 'Montserrat-bold';
      font-size: 1.25rem;
      color: #3679b5;
      margin-bottom: 10.5px;
    }
    .governance_bottom_second {
      font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
      font-size: 1.875rem;
      color: #333333;
      margin: 0px 0px 25px 0px;
    }
    .governance_bottom_third {
      font-family: 'Montserrat';
      font-size: 1.0625rem;
      color: #333333;
      line-height: 1.6rem;
      margin-bottom: 25px;
    }
    .governance_bottom_button_wrapper {
      display: flex;
      > div {
        font-family: 'Montserrat-Medium';
        cursor: pointer;
        width: 188px;
        height: 45px;
        font-size: 1.0625rem;
        color: #ffffff;
        background-color: #3679b5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 3px 8px #00000052;
      }
      > div:first-child {
        margin-right: 25.37px;
      }

      > div:last-child {
        margin-left: 25.37px;
      }
    }

    .governance_bottom_content {
      margin-top: 53px;
    }
    .governance_bottom_content_header {
      font-family: 'SpoqaHanSansNeo-Bold';
      font-size: 1.25rem;
      color: #333333;
      margin-bottom: 15px;
    }
    .governance_bottom_content_box {
      display: flex;
      justify-content: space-between;
    }
    .governance_bottom_content_list {
      width: 50%;
      border: 2px solid #f0f0f1;
      border-radius: 10px;
      background-color: #ffffff;
      height: 273px;
      padding: 27px 28px 48px 33px;

      > div:nth-child(1) {
        // width: 65px;
        // height: 65px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        > div:last-child {
          font-family: 'Montserrat-Medium';
          font-size: 1.0625rem;
          width: 202px;
          height: 37px;
          background: #b7b7b7;
          border-radius: 19px;
          margin-left: auto;
          margin-bottom: 0px;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      div:nth-child(2) {
        font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
        font-size: 1.0625rem;
        color: #333333;
        margin-bottom: 13px;
      }
      div:nth-child(3) {
        font-family: 'Montserrat';
        font-size: 0.9375rem;
        color: #333333;
      }
    }
    .governance_bottom_content_list:nth-child(1) {
      margin-right: 16px;
    }
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    border: 1.5px solid #ffffff;
    border-radius: 19px;
    transform: rotate(0.87turn);
    margin-left: 7px;
    svg {
      fill: #ffffff;
    }
  }
}

@media screen and (max-width: 768px) {
  .governance_top {
    margin-top: 97px;
    .governance_top_sub {
      text-align: center;
      color: #888888;
      font-size: 1.4375rem;
      font-family: 'Inter-Medium';
      font-style: italic;
    }
    .governance_top_header {
      text-align: center;
      font-family: 'SpoqaHanSansNeo-Medium';
      color: #333333;
      font-size: 2.8125rem;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .governance_top_content {
      background-image: url('../../assets/images/governance_top@2x.png');
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      background-size: cover;
      width: 100%;
      height: 400px;
    }
    .governance_top_content_header {
      font-family: 'SpoqaHanSansNeo-Medium', 'Montserrat-Medium';
      font-size: 1.24rem;
      color: #ffffff;
      height: 59px;
      padding: 94px 20px 0px 20px;
      margin: auto;
      text-align: center;
      line-height: 2.1rem;
    }
    .governance_top_content_wrapper {
      font-family: 'SpoqaHanSansNeo-Medium', 'Montserrat-Medium';
      margin-top: 140px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        height: 100px;
        width: 100px;
        border: 1px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 100px;
        font-size: 0.6rem;
        line-height: 1rem;
      }
      > div:not(div:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .governance_center {
    margin-top: 100px;
    width: 100%;

    > div:first-child {
      font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
      text-align: center;
      font-size: 2.5rem;
      color: #333333;
    }
    .governance_center_content_wrapper {
      display: flex;
      // width: 100%;
      margin: auto;
      margin-top: 10px;
      > div:last-child {
        display: none;
      }
    }
    .governance_center_content_description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 358px;
      margin: auto;
      text-align: center;

      > div:first-child {
        font-family: 'Montserrat-bold';
        font-size: 1.25rem;
        color: #3679b5;
        margin-bottom: 10.5px;
      }

      > div:nth-child(2) {
        font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
        font-size: 1.875rem;
        // width: 591px;
        color: #333333;
        margin-bottom: 34px;
      }

      > div:nth-child(3) {
        font-family: 'Montserrat';
        font-size: 1.0625rem;
        color: #333333;
        margin-bottom: 34px;
      }
    }
    .governance_center_content_wrapper_button {
      display: flex;

      > div {
        font-family: 'Montserrat-Medium';
        cursor: pointer;
        width: 138px;
        height: 40px;
        font-size: 1.0625rem;
        color: #ffffff;
        background-color: #3679b5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 3px 8px #00000052;

        > a {
          color: #ffffff;
        }
      }

      > div:first-child {
        margin-right: 10px;
      }
    }
    .governance_center_info_header {
      font-family: 'SpoqaHanSansNeo-Bold';
      font-size: 1.25rem;
      color: #262626;
      margin: auto;
      margin-bottom: 15px;
      text-align: center;
    }
    .governance_center_info_box {
      height: auto;
      background-color: #ffffff;
      border: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 10px;

      > div:nth-child(1),
      > div:nth-child(3) {
        margin-right: 5px;
      }

      > div:nth-child(1),
      > div:nth-child(2) {
        margin-bottom: 5px;
      }

      > div {
        border: 2px solid #f0f0f1;
        border-radius: 10px;
        width: 49%;
        height: 113px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .question {
          margin-left: 7px;
          border: 1px solid #888888;
          width: 17px;
          height: 17px;
          border-radius: 13px;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #888888;
          cursor: pointer;
          position: relative;
          > div {
            width: 170px;
            padding: 10px;
            font-size: 1.0625rem;
            cursor: auto;
            box-shadow: 0px 1px 6px #00000029;
            background-color: #ffffff;
            border-radius: 5px;
            position: absolute;
            top: 17px;
            right: -30px;
            color: #333333;
            font-family: 'SpoqaHanSansNeo-Bold';
          }
        }
        > div:first-child {
          font-family: 'Montserrat', 'SpoqaHanSansNeo';
          font-size: 1.0625rem;
          color: #333333;
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        > div:last-child {
          font-family: 'Montserrat-bold';
          font-size: 1.4375rem;
          color: #333333;
        }
      }
    }
  }

  .governance_staking {
    margin-top: 124px;
    width: 100%;

    .governance_staking_wrapper {
      margin: auto;
    }

    .governance_staking_wrapper_content {
      text-align: center;
    }

    .governance_staking_header {
      text-align: center;
      font-size: 2.5rem;
      color: #333333;
    }

    .governance_staking_content_wrapper {
      display: flex;
      margin: auto;
      margin-top: 81px;
      // align-items: center;
      // justify-content: center;
    }

    .governance_staking_content_description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 358px;
      margin-right: 116px;
    }

    .governance_staking_content_description_first {
      font-family: 'Montserrat-bold';
      font-size: 1.25rem;
      color: #3679b5;
      margin-bottom: 10.5px;
    }

    .governance_staking_content_description_second {
      font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
      font-size: 1.875rem;
      color: #333333;
      margin: 0px 0px 34px 0px;
    }

    .governance_staking_content_description_third {
      font-family: 'Montserrat';
      font-size: 1.0625rem;
      color: #333333;
      line-height: 1.6rem;
      margin-bottom: 20px;
    }

    .governance_staking_content_button {
      margin: auto;
      font-family: 'Montserrat-Medium';
      cursor: pointer;
      width: 168px;
      height: 40px;
      font-size: 1.0625rem;
      color: #ffffff;
      background-color: #3679b5;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 3px 8px #00000052;
    }
    .governance_staking_info {
      text-align: center;
      line-height: 1.8rem;
      z-index: 0;
      display: flex;
      margin: 10px;
      border-radius: 10px;
      overflow: hidden;
    }
    .governance_staking_total {
      font-family: 'Inter-Bold';
      width: 50%;
      height: 150px;
      background-color: #ffffff;
      box-shadow: 0px 3px 6px #00000029;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.875rem;
      color: #3679b5;
    }
    .governance_staking_apr {
      font-family: 'Inter-Bold';

      width: 50%;
      height: 150px;
      background-color: #ffffff;
      box-shadow: 0px 3px 6px #00000029;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.875rem;
      color: #333333;
    }
    .governance_staking_total_name {
      font-family: 'Montserrat';
      font-size: 1.0625rem;
    }
    .staking_prev {
      text-align: center;
      font-family: 'SpoqaHanSansNeo';
      font-size: 1rem;
      color: #3679b5;
      cursor: pointer;
    }

    .staking_wrapper {
      margin-top: 100px;
      width: 100%;
    }
    .staking_container {
      margin: auto;
    }
    .staking_container_header {
      font-family: 'SpoqaHanSansNeo-Bold';
      font-size: 1.25rem;
      margin-bottom: 21px;
      text-align: center;
    }
    .staking_header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .staking_select_mainnet {
      font-family: 'Montserrat-Medium';
      display: flex;
      margin-right: auto;
      border-top: 2px solid #f0f0f1;
      border-left: 2px solid #f0f0f1;
      border-right: 2px solid #f0f0f1;
      width: 220px;
      background-color: #ffffff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 1.0625rem;

      div {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
      }
      div:first-child {
        border-right: 1px solid #f0f0f1;
      }
      div:last-child {
        color: #888888;
      }
    }
    .staking_content {
      border: 2px solid #f0f0f1;
      display: flex;
      flex-wrap: wrap;
      background-color: #ffffff;
      border-radius: 0px 10px 10px 10px;
      padding: 8px 12px 8px 12px;

      .staking_content_box:nth-child(1) {
        border-top: 1px solid #f0f0f1;
      }
      .staking_content_box:nth-child(2) {
        border-top: 1px solid #f0f0f1;
        border-bottom: 1px solid #f0f0f1;
      }

      .staking_content_box {
        width: 100%;
        padding: 14px;
      }
      .staking_content_box_amount {
        text-align: right;
        margin-top: 36px;

        span:first-child {
          font-family: 'SpoqaHanSansNeo-Bold';
          font-size: 1.875rem;
          color: #333333;
          span {
            color: #333333;
          }
        }
        span:last-child {
          font-family: 'SpoqaHanSansNeo-Bold';
          font-size: 1.875rem;
          color: #6e6e6e;
        }
      }
      .staking_content_header {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > div:first-child {
          font-family: 'SpoqaHanSansNeo-Bold';
          font-size: 1.0625rem;
        }
        > div:last-child {
          font-family: 'SpoqaHanSansNeo';
          cursor: pointer;
          box-shadow: 0px 1px 6px #00000029;
          border-radius: 15px;
          width: 190px;
          height: 30px;
          font-size: 1.0625rem;
          display: flex;
          align-items: center;
          justify-content: center;
          @include hover__box-shadow;
          > p {
            cursor: pointer;
          }
        }
      }

      .staking_comming_soon {
        font-family: 'SpoqaHanSansNeo-Bold';
        font-size: 1.875rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 153.5px;
      }
      .staking_network {
        font-family: 'SpoqaHanSansNeo-Bold';
        font-size: 1.5rem;
        width: 70%;
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 153.5px;
      }
    }
  }

  .governance_bottom {
    margin-top: 166px;
    margin-bottom: 222px;
    width: 100%;

    .governance_bottom_container {
      // width: 1136px;
      margin: 0px auto;
      > div:first-child {
        text-align: center;
      }
    }
    .governance_bottom_first {
      font-family: 'Montserrat-bold';
      font-size: 1.25rem;
      color: #3679b5;
      margin-bottom: 10.5px;
    }
    .governance_bottom_second {
      font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
      font-size: 1.875rem;
      color: #333333;
      margin: 0px 0px 25px 0px;
    }
    .governance_bottom_third {
      font-family: 'Montserrat';
      font-size: 1.0625rem;
      color: #333333;
      line-height: 1.6rem;
      margin-bottom: 25px;
      padding: 0px 10px;
    }
    .governance_bottom_button_wrapper {
      display: flex;
      padding: 0px 10px;
      > div {
        font-family: 'Montserrat-Medium';
        cursor: pointer;
        width: 168px;
        height: 40px;
        font-size: 0.925rem;
        color: #ffffff;
        background-color: #3679b5;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 3px 8px #00000052;
      }
      > div:not(div:last-child) {
        margin-right: 25.37px;
      }
    }

    .governance_bottom_content {
      margin-top: 53px;
    }
    .governance_bottom_content_header {
      font-family: 'SpoqaHanSansNeo-Bold';
      font-size: 1.25rem;
      color: #333333;
      margin-bottom: 15px;
      text-align: center;
    }
    .governance_bottom_content_box {
      width: 310px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .governance_bottom_content_list {
      width: 47%;
      border: 2px solid #f0f0f1;
      border-radius: 10px;
      background-color: #ffffff;
      height: auto;
      padding: 27px 10px 48px 10px;

      > div:nth-child(1) {
        // width: 65px;
        // height: 65px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        > div:last-child {
          text-align: center;
          font-family: 'Montserrat-Medium';
          font-size: 0.3rem;
          width: 202px;
          height: 27px;
          background: #b7b7b7;
          border-radius: 19px;
          margin-left: auto;
          margin-bottom: 0px;
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      div:nth-child(2) {
        font-family: 'Montserrat-bold', 'SpoqaHanSansNeo-Bold';
        font-size: 1.0625rem;
        color: #333333;
        margin-bottom: 13px;
      }
      div:nth-child(3) {
        font-family: 'Montserrat';
        font-size: 0.9375rem;
        color: #333333;
      }
    }
    .governance_bottom_content_list:nth-child(1) {
      margin-right: 16px;
    }
  }
  .arrow {
    display: none;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    border: 1.5px solid #ffffff;
    border-radius: 19px;
    transform: rotate(0.87turn);
    margin-left: 7px;
    svg {
      fill: #ffffff;
    }
  }
}
