$elysia-color: #33a5ff;
$bold: Gilroy-ExtraBold;
$light: Gilroy-Light;

@media screen and (min-width: 768px) {
  .governance_wrapper {
    max-width: 1639px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      mix-blend-mode: hard-light;
      content: '';
    }

    &::before {
      filter: url(#noise);
    }

    &::after {
      background: linear-gradient(to right, #000000, transparent),
        linear-gradient(to top, #000000, #4785ff 40%);
    }
  }
  .governance_top {
    margin-top: calc(50vh - 100px);
    padding-bottom: 70px;
    border-bottom: 1px solid $elysia-color;
    .governance_top_sub {
      text-align: left;
      color: #fff;
      font-size: 2rem;
      font-family: 'Inter-Medium';
      font-weight: bold;
    }
    .governance_top_header {
      text-align: left;
      font-family: 'SpoqaHanSansNeo-Bold';
      color: #fff;
      font-size: 1.475rem;
      margin-top: 10px;
      margin-bottom: 40px;
    }
    &_content {
      &_wrapper {
        display: flex;
        flex-direction: row;
        color: #fff;
        > div {
          flex: 1;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 20px;
          box-shadow: 0px 0px 6px #00000029;
          backdrop-filter: blur(18px);
          -webkit-backdrop-filter: blur(18px);
          padding: 30px;
          &:not(:last-child) {
            margin-right: 20px;
          }
          > h2 {
            color: #00bfff;
            margin: 0;
            font-size: 1.3rem;
            line-height: 30px;
          }
          > p {
            margin: 20px 0 0;
            font-size: 1.375rem;
            line-height: 30px;
          }
        }
      }
      &_right {
        display: flex;
        flex-direction: row;
        > div {
          margin-left: 27px;
          padding-left: 55px;
          border-left: 1px solid #33a5ff;
          > p {
            margin: 0;
            font-size: 1.375rem;
            line-height: 40px;
          }
        }
      }
    }
  }
  $first-circle-height: 60px;

  .governance_left_line {
    &_container {
      margin-top: calc(70px + (#{$first-circle-height} / 2));
      border-left: 1px solid $elysia-color;
    }
    $circle-diameter: 33px;
    &_counter {
      &_container {
        display: flex;
        flex-direction: row;
        padding-top: 220px;
      }
      &_wrapper {
        width: $circle-diameter;
        height: $circle-diameter;
        border-bottom: 1px solid $elysia-color;
        position: relative;
      }
      color: #fff;
      background-color: $elysia-color;
      width: $circle-diameter;
      height: $circle-diameter;
      text-align: center;
      line-height: $circle-diameter;
      border-radius: 100%;
      position: absolute;
      top: calc(#{$circle-diameter} / 2);
      left: $circle-diameter;
      font-family: Gilroy-ExtraBold;
      font-size: 22px;
    }
    &_content {
      margin-left: calc(#{$circle-diameter} + 30px);
      color: #fff;
      flex: 1;
    }
  }
  .governance_button {
    width: 250px;
    height: 46px;
    background-color: #000000;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 23px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 1.375rem;
    font-family: Gilroy-Light;
    align-items: center;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  .center {
    &_circle {
      border-radius: 30px;
      width: 276px;
      height: 60px;
      border: 1px solid $elysia-color;
      position: relative;
      bottom: calc(#{$first-circle-height / 2});
      left: -1px;
      > h2 {
        font-size: 28px;
        color: $elysia-color;
        text-align: center;
        line-height: 60px;
        margin: 0;
        font-family: Gilroy-ExtraBold;
        letter-spacing: 2px;
      }
    }
    &_section {
      &_01 {
        &_header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          > .el_token {
            // flex: 1;
            width: 302px;
            height: 302px;
          }
          > div {
            flex: 1;
            margin-left: 40px;
            > h2 {
              font-family: Gilroy-ExtraBold;
              font-size: 2.2rem;
              margin: 0 0 25px;
            }
            > p {
              font-size: 1.375rem;
              font-family: Gilroy-Light;
              line-height: 30px;
              margin-bottom: 30px;
            }
            > div {
              display: flex;
            }
          }
        }
        &_body {
          &_box {
            height: 170px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 20px;
            box-shadow: 0px 0px 6px #00000029;
            backdrop-filter: blur(18px);
            -webkit-backdrop-filter: blur(18px);
            padding: 30px;
            display: flex;
            flex-direction: row;
            text-align: center;
            margin-top: 56px;
            align-items: center;
            > div {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              &:not(:last-child) {
                border-right: 1px solid $elysia-color;
                height: 100%;
              }
              > p {
                font-size: 1.275rem;
                margin: 0;
                font-family: $light;
              }
              > h2 {
                font-size: 1.625rem;
                margin: 15px 0 0;
                font-family: $bold;
              }
            }
          }
          > p {
            margin: 10px 30px 0;
            font-size: 0.975rem;
            font-family: $light;
          }
        }
      }
      &_02 {
        &_header {
          display: flex;
          height: 100%;
          > div {
            &:not(:first-child) {
              flex: 1;
              margin-left: 54px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              > h2 {
                font-family: Gilroy-ExtraBold;
                font-size: 2.2rem;
                margin: 0 0 25px;
              }
              > p {
                font-size: 1.375rem;
                font-family: Gilroy-Light;
                line-height: 30px;
                margin-bottom: 30px;
              }
            }
          }
        }
        &_image {
          &_container {
            height: 364px;
            position: relative;
            .amount {
              position: absolute;
              width: 273px;
              height: 273px;
              top: 0;
              align-items: center;
              justify-content: center;
              display: flex;
              flex-direction: column;
              > p {
                font-size: 20px;
                margin: 0;
                font-family: $light;
              }
              > h2 {
                font-size: 28px;
                margin: 10px 0 0;
                font-family: $bold;
              }
            }
            .apr {
              bottom: 0px;
              left: 200px;
              align-items: center;
              justify-content: center;
              display: flex;
              flex-direction: column;
              width: 225px;
              height: 225px;
              position: absolute;
              > p {
                font-size: 20px;
                margin: 0;
                font-family: $light;
              }
              > h2 {
                font-size: 28px;
                margin: 10px 0 0;
                font-family: $bold;
              }
            }
            > span {
              position: absolute;
              width: 427px;
              height: 364px;
            }
          }
        }
        &_body {
          margin-top: 60px;
          .staking_prev {
            text-align: right;
            font-family: $light;
            font-size: 1.375rem;
            font-family: Gilroy-Light;
            color: $elysia-color;
          }
          .staking {
            &_container {
              height: 170px;
              background-color: rgba(255, 255, 255, 0.1);
              border-radius: 20px;
              box-shadow: 0px 0px 6px #00000029;
              backdrop-filter: blur(18px);
              -webkit-backdrop-filter: blur(18px);
              padding: 15px 25px;
              display: flex;
              flex-direction: row;
              text-align: center;
              margin-top: 18px;
              align-items: center;
            }
            &_select_mainnet {
              display: flex;
              width: 135px;
              height: 100%;
              border-radius: 20px;
              background-color: #232431;
              position: relative;
              &_current {
                width: 63px;
                height: 132px;
                border-radius: 20px;
                top: 4px;
                background-color: #343545;
                position: absolute;
                transition: all 0.3s ease;
                z-index: 1;
              }
              > div {
                z-index: 2;
                flex: 1;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                > p {
                  margin: 14px 0 0;
                }
              }
            }
            &_content {
              display: flex;
              flex-direction: column;
              flex: 1;
              height: 140px;
              &_box {
                display: flex;
                justify-content: space-between;
                margin-left: 25px;
                flex: 1;
                align-items: center;
                &:not(:last-child) {
                  border-bottom: 1px solid #505050;
                }
              }
              &_header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex: 1;
                margin-right: 62px;
                > p {
                  font-family: Gilroy-Light;
                  font-size: 1.8rem;
                  margin: 0;
                }
                > div {
                  display: flex;
                  align-items: center;
                  > h2 {
                    font-family: Gilroy-ExtraBold;
                    font-size: 2.2rem;
                    margin: 0;
                  }
                  > span {
                    color: #838383;
                    font-size: 2.2rem;
                    font-family: Gilroy-ExtraBold;
                    margin: 0 5px 0;
                  }
                }
              }
              .staking_active,
              .staking_deactive {
                width: 249px;
                height: 46px;
                background: #000000;
                box-shadow: 0px 0px 6px #00000029;
                border-radius: 23px;
                > p {
                  margin: 0;
                  font-size: 1.6rem;
                  line-height: 46px;
                  font-family: Gilroy-ExtraBold;
                }
              }
            }
          }
          .staking_network,
          .staking_comming_soon {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            line-height: 46px;
            font-family: Gilroy-ExtraBold;
          }
        }
      }
    }
  }
  .governance_bottom {
    color: #fff;
    &_header {
      padding-top: 220px;
      display: flex;
      border-left: 1px solid $elysia-color;
      > h2 {
        font-family: Gilroy-ExtraBold;
        font-size: 28px;
        position: absolute;
        margin: 16px 0px 0 80px;
        white-space: nowrap;
      }
      margin-bottom: 50px;
    }
    &_container {
      margin-left: 80px;
      > p {
        margin: 20px 0 25px;
        font-size: 1.4rem;
      }
      > div {
        display: flex;
        margin-bottom: 66px;
      }
    }
    &_content_box {
      &_wrapper {
        display: flex;
      }
      flex: 1;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      box-shadow: 0px 0px 6px #00000029;
      backdrop-filter: blur(18px);
      -webkit-backdrop-filter: blur(18px);
      padding: 30px;
      &:not(:last-child) {
        margin-right: 30px;
      }
      &_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        > div {
          width: 249px;
          height: 46px;
          background: #505050;
          border-radius: 23px;
          color: #ffffff;
          > p {
            font-size: 1.25rem;
            margin: 0;
            text-align: center;
            line-height: 46px;
            font-family: $light;
          }
        }
      }
      &_title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0 25px;
        > h2 {
          font-family: Gilroy-ExtraBold;
          font-size: 1.5rem;
          margin: 0;
          margin-right: 8px;
        }
      }
    }
  }
}
