$line-color: #505050;

@mixin modal-containers {
  background-color: #3e3e3e;
  border-radius: 10px;
  border: 1px solid #707070;
  color: #fff;

  @media (max-width: 514px) {
    width: 90%;
    margin: 0 auto;
  }
}
@mixin modal-headers {
  .modal_container {
    width: 514px;
    height: auto;
    @media (max-width: 514px) {
      width: 100%;
    }
  }
  .modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    h2 {
      margin: 0;
      font-size: 1.2rem;
      color: #fff;
      font-family: Inter-Bold;
      letter-spacing: 1.2px;
    }
  }
}
@mixin h2-base {
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
  font-family: Inter-Bold;
  letter-spacing: 1.2px;
  @content;
}
.modal {
  //   background-color: #000000;
  //   opacity: 0.5;
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  backdrop-filter: blur(4px);
}

.modal_select_wallet {
  background-color: #3e3e3e;
  // max-width: 300px;
  min-height: 270px;
  width: 30%;
}

.modal_connect {
  @include modal-containers;
  @include modal-headers;

  .modal_content {
    width: 100%;
    padding: 31px 0px 31px 0px;
    text-align: center;
    margin: auto;
  }
}
.modal_button {
  > div {
    cursor: pointer;
    width: 90%;
    height: 47px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 6px #00000029;
    background-color: #000;
    border-radius: 47px;
    > p {
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.modal_disconnect {
  @include modal-containers;
  @include modal-headers;

  .modal_content {
    border: 1px solid $line-color;
    border-radius: 5px;
    margin: 20px 5%;

    .modal_user_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      height: 90px;
      border-bottom: 1px solid $line-color;
      @media (max-width: 514px) {
        padding: 10px;
      }
      .modal_address {
        line-height: 1.5rem;
        div:first-child {
          font-family: Inter;
          font-size: 0.9375rem;
          color: #838383;
          letter-spacing: 0.6px;
        }
        div:last-child {
          font-family: 'Inter-Bold';
          font-size: 0.9375rem;
          color: #fff;
          > div:first-child {
            @media (max-width: 460px) {
              width: 15px !important;
              height: 15px !important;
            }
          }
        }
        .modal_davatar {
          display: flex;
          align-items: center;
          justify-content: center;

          div:last-child {
            margin-left: 8px;
          }
        }
      }
    }
    .modal_disconnect_button {
      cursor: pointer;
      width: 139px;
      @media (max-width: 460px) {
        width: 100px;
      }
      height: 37px;
      border: 1px solid #888888;
      background-color: #505050;
      border-radius: 37px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9375rem;
      font-family: 'Inter';
      color: #fff;
    }

    .modal_function_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      div {
        cursor: pointer;
        width: 50%;
        height: 100%;
        font-size: 0.9375rem;
        color: #fff;
        font-family: 'Inter';
        display: flex;
        justify-content: center;
        align-items: center;
        > svg {
          margin-right: 7px;
        }
      }
      div:first-child {
        border-right: 1px solid $line-color;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        cursor: pointer;
        color: #fff;
        font-family: 'Inter';
      }
    }
  }
  .recent_tx_wrapper {
    width: 90%;
    margin: 20px 5%;
    font-family: 'Inter';
    .recent_header {
      font-size: 0.9375rem;
      color: #fff;
    }
    .recent_box {
      color: #888888;
      border: 1px solid $line-color;
      font-family: 'Inter';
      border-radius: 5px;
      height: 45px;
      display: flex;
      align-items: center;
      margin-top: 7px;
      padding: 0px 10px 0px 20px;
    }
  }
}

.modal_staking {
  @include modal-containers;

  .modal_container {
    width: 500px;
    height: auto;
    @media (max-width: 500px) {
      width: 100%;
    }
  }
  .modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    .modal_header_img {
      display: flex;
      align-items: center;
    }
    h2 {
      @include h2-base {
        margin-left: 10px;
      }
    }
  }
  .staking_type {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #505050;
    font-family: 'SpoqaHanSansNeo-Bold';
    font-size: 0.9375rem;
    &_wrapper {
      display: flex;
      width: 100%;
      margin: 10px;
      border-radius: 10px;
      position: relative;
      background-color: #2b2b2b;
    }
    &_slide {
      position: absolute;
      width: 232px;
      height: 38px;
      background-color: #000000;
      border-radius: 10px;
      margin-top: 6px;
      transition: all 0.4s ease;
      mix-blend-mode: darken;
      z-index: 1;
      @media (max-width: 500px) {
        width: 40vw;
      }
    }
    div {
      cursor: pointer;
      width: 50%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-family: 'SpoqaHanSansNeo';
      z-index: 2;
      font-size: 1.2rem;
      letter-spacing: 0.7px;
    }
  }
  .approve_wrapper {
    margin: 25px 25px 10px 25px;
    border: 1px solid #505050;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    div {
      color: #ffffff;
      font-size: 1.2rem;
      font-family: 'SpoqaHanSansNeo-Medium';
      text-align: center;
    }
    div:first-child {
      margin-bottom: 30px;
    }
  }
  .approve_fee {
    font-family: 'SpoqaHanSansNeo-Medium';
    width: 465px;
    @media (max-width: 500px) {
      width: 90%;
    }
    margin: auto;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 25px;
  }

  .amount_input {
    display: flex;
    margin: 0 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid #707070;
    border-radius: 10px;
    height: 145px;
    padding: 0px 30px;
    font-family: 'SpoqaHanSansNeo-Bold';
    @media (max-width: 500px) {
      padding: 0px 15px;
      height: 110px;
    }
    div {
      cursor: pointer;
      color: #b7b7b7;
      font-size: 18px;
      margin-right: 20px;
      width: 40px;
      font-family: SpoqaHanSansNeo-Bold;
    }
    div:hover {
      color: #fff;
    }

    > input[type='number']::-webkit-inner-spin-button,
    > input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input {
      font-family: 'SpoqaHanSansNeo-Bold';
      background: none;
      border: none;
      text-align: right;
      width: 90%;
      font-size: 3.125rem;
      color: #fff;
    }
    input:focus {
      outline: none;
    }
  }
  .balance_wrapper {
    width: 90%;
    margin: auto;
    margin-top: 28px;
    margin-bottom: 15px;

    .balance_header {
      font-size: 0.9375rem;
      font-family: 'SpoqaHanSansNeo';
      color: #888888;
      margin-bottom: 19px;
    }
    .balance_content {
      font-family: 'SpoqaHanSansNeo-Bold';
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.1rem;
    }
  }
}

.modal_claim {
  @include modal-containers;
  .modal_container {
    width: 500px;
    height: auto;
  }
  .modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    .modal_header_img {
      display: flex;
      align-items: center;
    }
    h2 {
      font-size: 1.0625rem;
      margin-left: 10px;
    }
  }
  .modal_content_wrapper {
    border: 1px solid #707070;
    height: 145px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 30px;
    margin: 10px;
    font-size: 1.875rem;
    border-radius: 10px;
    @media (max-width: 500px) {
      padding: 0px 15px;
      height: 110px;
    }
    .modal_content {
      font-family: 'SpoqaHanSansNeo-Bold';
      display: flex;
      justify-content: center;
      align-items: center;
      .reward {
        font-family: 'SpoqaHanSansNeo-Bold';
        margin-right: 7px;
        font-size: 3rem;
      }
      div:last-child {
        font-size: 3rem;
      }
    }
  }
}

.modal_tx_ended {
  @include modal-containers;
  // height: 470px;

  .modal_container {
    width: 500px;
    @media (max-width: 500px) {
      width: 100%;
      margin: 0 auto;
    }
  }

  .modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;

    .modal_header_img {
      display: flex;
      align-items: center;
    }

    h2 {
      font-size: 1.0625rem;
      margin-left: 10px;
    }
  }

  .modal_confirm {
    text-align: center;
    margin-top: 30px;
    @media (max-width: 500px) {
      width: 90%;
      margin: 20px auto 0;
    }
  }
  .modal_text {
    h2 {
      margin-top: 29px;
      font-size: 1.0625rem;
    }

    p {
      margin: 70px 0px 25px 0px;
    }
  }
}

.modal_error {
  @include modal-containers;

  .modal_container {
    width: 500px;
    height: auto;
  }
  .modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 20px;
    h2 {
      font-size: 1.0625rem;
      margin-left: 10px;
    }
  }
  .error_inquiry {
    font-family: 'Inter-Medium', 'SpoqaHanSansNeo-Medium';
    text-align: center;
    padding: 40px 70px 30px 70px;
  }
  .error_description {
    width: 100%;
    margin: auto;

    > div:first-child {
      font-family: 'SpoqaHanSansNeo-Bold', 'Inter-Bold';
      margin-bottom: 10px;
    }
    > div:last-child {
      > div {
        width: 100%;
        > textarea {
          resize: none;
          width: 100%;
          height: 88px;
          text-align: left;
          padding: 20px;
          border: 1px solid #e6e6e6;
          border-radius: 5px;
        }
      }
    }
  }
}
