@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-display: swap;
  src: url('../assets/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF,
    U+0030-0039, U+0020-007E;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  font-display: swap;
  src: url('../assets/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF,
    U+0030-0039, U+0020-007E;
}

@font-face {
  font-family: 'Gilroy-Light';
  font-display: swap;
  src: url('../assets/fonts/Gilroy-Light.otf') format('opentype');
  unicode-range: U+0020-007E, U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3,
    U+D7B0-D7FF;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  font-display: swap;
  src: url('../assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
  unicode-range: U+0020-007E, U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3,
    U+D7B0-D7FF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 0px) and (max-width: 839px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 839px) and (max-width: 1189px) {
  html {
    font-size: 14px;
  }
}
