@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF,
    U+0030-0039, U+0020-007E;
  size-adjust: 90%;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF,
    U+0030-0039, U+0020-007E;
  size-adjust: 90%;
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  src: url('../assets/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
  unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF,
    U+0030-0039, U+0020-007E;
  size-adjust: 90%;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0020-007E, U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3,
    U+D7B0-D7FF;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-RegularItalic.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0020-007E, U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3,
    U+D7B0-D7FF;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  unicode-range: U+0020-007E, U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3,
    U+D7B0-D7FF;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0020-007E, U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3,
    U+D7B0-D7FF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: hsla(253, 100%, 7%, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  white-space: pre-line;
  -webkit-tap-highlight-color: transparent;
}

div,
a,
p,
figcaption,
h1,
strong,
b,
h2 {
  font-family: Gilroy, SpoqaHanSansNeo;
  margin: 0;
}
figure {
  margin: 0;
}
button {
  background-color: transparent;
  color: inherit;
  outline: none;
  padding: none;
  font-size: inherit;
  font-family: inherit;
  border: none;
}

@media screen and (min-width: 0px) and (max-width: 839px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 839px) and (max-width: 1189px) {
  html {
    font-size: 14px;
  }
}
